DATABASE_URL="postgresql://happy_wisher_db_user:FxxaXrg7rNXCO7TwSUfVSTZTBCiYlX0Y@dpg-d8lc0ce7r5hc739sg7mg-a.oregon-postgres.render.com/happy_wisher_db?sslmode=require"
CLOUDINARY_CLOUD_NAME="dgrttojrj"
CLOUDINARY_API_KEY="113269723256259"
CLOUDINARY_API_SECRET="VfiCKNLaynwt52rZ7U11eA4P3pQ"
NODE_ENV="production"
PORT=10000
FRONTEND_URL="https://happy-wisher-alll.onrender.com"
